{% extends 'base.html' %}

{% block title %}
Paulo's Website - Minha História Pessoal
{% endblock title %}

{% block content %}

<div class="container my-3">
    
    <div class="col centered text-center mx-auto">
        <h1 class="font-weight-bold">Minha História Pessoal:</h1>
        <p>
            Uma linha do tempo, se extendendo desde meu nascimento até os dias de hoje. 
            <br>Basta ir descendo a página e acompanhando essa história!
        </p>
        <p><i>(Referências no final da página)</i></p>
    </div>
</div>

<div class="section section-md py-5">
    <div class="container">
        <!-- Title  -->
      
       <div class="row mt-4">
          <div class="col-md-10 mx-auto">
             <!-- Timeline -->
             <div class="timeline timeline-one">
                <!-- Timeline Item 1 -->
                {% block timeline %}
                {% endblock timeline %}
             </div>
             <!--End of Timeline-->
          </div>
       </div>
       </div>
    </div>
 </div>
 
 <div class="container my-3">
    
    <div class="col centered text-center mx-auto">
        
        <p><i>(Modelo de timeline fornecido por <a href="https://themesberg.com/">Themesberg</a> -> https://codepen.io/themesberg/pen/ExxROvM)</i></p>
    </div>
</div>
{% endblock content %}