{% extends 'base.html' %}

{% block title %}
Paulo's Website - Minha História Pessoal
{% endblock title %}

{% block content %}

<div class="container my-3">
    
    <div class="col centered text-center mx-auto">
        <h1 class="font-weight-bold">Minha História Pessoal:</h1>
        <p>
            Uma linha do tempo, se extendendo desde meu nascimento até os dias de hoje. 
            <br>Basta ir descendo a página e acompanhando essa história!
        </p>
        <p><i>(Referências no final da página)</i></p>
    </div>
</div>

<div class="section section-md py-5">
    <div class="container">
        <!-- Title  -->
      
       <div class="row mt-4">
          <div class="col-md-10 mx-auto">
             <!-- Timeline -->
             <div class="timeline timeline-one">
                <!-- Timeline Item 1 -->
                <div class="timeline-item">
                   <h5 class="my-3">React</h5>
                   <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum.</p>
                </div>
                <!-- Timeline Item 2 -->
                <div class="timeline-item">
                   <h5 class="my-3">VueJs</h5>
                   <p>Bootstrap. Build responsive, mobile-first projects on the web with the world's most popular front-end component library. Bootstrap is an open source toolkit for developing with HTML, CSS, and JS. Quickly prototype your ideas.</p>
                </div>
                <!-- Timeline Item 3 -->
                <div class="timeline-item">
                   <h5 class="my-3">Angular</h5>
                   <p>AngularJS is a JavaScript-based open-source front-end web application framework mainly maintained by Google and by a community of individuals and corporations to address many of the challenges encountered in developing single-page applications.</p>
                </div>
             </div>
             <!--End of Timeline-->
          </div>
       </div>
       </div>
    </div>
 </div>
 
 <div class="container my-3">
    
    <div class="col centered text-center mx-auto">
        
        <p><i>(Modelo de timeline fornecido por <a href="https://themesberg.com/">Themesberg</a> -> https://codepen.io/themesberg/pen/ExxROvM)</i></p>
    </div>
</div>
{% endblock content %}